# Merging of Cleaned Wi-Fi dataset

##  Importing important packages and libraries ##

In [1]:
import numpy as np
import os
import math
from numpy import nan
from numpy import mean
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter(action='ignore')

### Importing cleaned Wi-Fi datset-1 (from 2018 to Nov 2020)

In [2]:
# importing the cleaned_wifi_data dataset
df = pd.read_csv("D:/Deakin University (Applied AI (Professional)/SIT764- Team Project (A)/Datasets & Notebooks/Updated Dataset/cleaned_wifi_data.csv")
df = df.drop('Unnamed: 0', axis=1)
df.head(5)

,dev_id,name,date,total,left,left_avg,year,month,dayofweek,day,hour,location,updatetime
0,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,27.0,14.0,1.0,2019.0,Jan,Thursday,3.0,4.0,"-38.1474393,144.3576924",2020-11-26T06:23:15.867000+05:30
1,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,33.0,13.0,1.0,2019.0,Jan,Thursday,3.0,4.0,"-38.1474393,144.3576924",2020-11-26T06:23:15.871000+05:30
2,hawk-013a51,Myer South side,2019-01-03T10:03:20+05:30,72.0,23.0,1.0,2019.0,Jan,Thursday,3.0,4.0,"-38.14762,144.3622749",2020-11-26T06:23:15.877000+05:30
3,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,16.0,14.0,1.0,2019.0,Jan,Thursday,3.0,4.0,"-38.1469395,144.3599357",2020-11-26T06:23:15.879000+05:30
4,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,19.0,10.0,3.0,2019.0,Jan,Thursday,3.0,4.0,"-38.1469395,144.3599357",2020-11-26T06:23:15.882000+05:30

### Importing cleaned Wi-Fi datset-2 (from Nov 2020 till 7th Dec 2021)

In [3]:
# importing the cleaned_wifi_data1 dataset
df1 = pd.read_csv("D:/Deakin University (Applied AI (Professional)/SIT764- Team Project (A)/Datasets & Notebooks/Updated Dataset/regularupdated_cleaned_wifi_data.csv")
df1 = df1.drop('Unnamed: 0', axis=1)
df1.head(5)

,Device id,Device name,time,dayOfWeek,avg_total,max_total,new,left_avg_mins (dwell time),left,hist_8,...,hist_5,hist_4,hist_3,hist_2,hist_1,year,month,location,devicetype,daynumber
0,014d9e,Botanical Gardens - conservatory entrance,2021-08-25T06:30:00+05:30,Wednesday,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2021,Aug,"-38.1494367,144.3774611",nCounter,25
1,014db4,rippleside north end near gym,2021-08-25T06:30:00+05:30,Wednesday,43.4,63.0,150.0,7.750000,154.0,0.0,...,0.0,1.0,10.0,21.0,122.0,2021,Aug,"-38.1274401,144.3549584",nCounter,25
2,014dc6,Little Malop and James - CCTV/wifi cabinet,2021-08-25T06:30:00+05:30,Wednesday,80.8,125.0,190.0,16.501127,177.0,0.0,...,5.0,1.0,13.0,21.0,134.0,2021,Aug,"-38.1479277,144.3588385",nCounter,25
3,hawk-013a20,Busport Project office,2021-08-25T06:30:00+05:30,Wednesday,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2021,Aug,"-38.1447631,144.3595969",nCounter,25
4,hawk-013a21,155 Mercer Foyer,2021-08-25T06:30:00+05:30,Wednesday,1.0,1.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2021,Aug,"-38.1458692,144.3581138",nCounter,25

In [4]:
# displaying the columns of regularupdated_cleaned_wifi_data dataset 
pd.set_option("display.max_columns", None)
df1.head(1)

,Device id,Device name,time,dayOfWeek,avg_total,max_total,new,left_avg_mins (dwell time),left,hist_8,hist_7,hist_6,hist_5,hist_4,hist_3,hist_2,hist_1,year,month,location,devicetype,daynumber
0,014d9e,Botanical Gardens - conservatory entrance,2021-08-25T06:30:00+05:30,Wednesday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021,Aug,"-38.1494367,144.3774611",nCounter,25

In [5]:
# removing the columns form regularupdated_cleaned_wifi_data which are not present in cleaned_wifi_data dataset
# storing the results in new_df1
new_df1 = df1.drop(['devicetype','avg_total', 'new','hist_1','hist_2',
                    'hist_3','hist_4','hist_5','hist_6','hist_7','hist_8'], axis = 1)
new_df1.head(5)

,Device id,Device name,time,dayOfWeek,max_total,left_avg_mins (dwell time),left,year,month,location,daynumber
0,014d9e,Botanical Gardens - conservatory entrance,2021-08-25T06:30:00+05:30,Wednesday,0.0,0.000000,0.0,2021,Aug,"-38.1494367,144.3774611",25
1,014db4,rippleside north end near gym,2021-08-25T06:30:00+05:30,Wednesday,63.0,7.750000,154.0,2021,Aug,"-38.1274401,144.3549584",25
2,014dc6,Little Malop and James - CCTV/wifi cabinet,2021-08-25T06:30:00+05:30,Wednesday,125.0,16.501127,177.0,2021,Aug,"-38.1479277,144.3588385",25
3,hawk-013a20,Busport Project office,2021-08-25T06:30:00+05:30,Wednesday,0.0,0.000000,0.0,2021,Aug,"-38.1447631,144.3595969",25
4,hawk-013a21,155 Mercer Foyer,2021-08-25T06:30:00+05:30,Wednesday,1.0,0.000000,0.0,2021,Aug,"-38.1458692,144.3581138",25

In [6]:
# renaming the columns of regularupdated_cleaned_wifi_data dataset as per cleaned_wifi_data dataset
new_df1.rename(columns = {'max_total':'total','left_avg_mins (dwell time)':'left_avg','dayOfWeek':'dayofweek',
                          'Device id':'dev_id','Device name':'name','time':'date','daynumber':'day'},inplace = True)

In [7]:
# removing the extra columns in cleaned_wifi_data dataset which are not present in regularupdated_cleaned_wifi_data dataset
new_df = df.drop(['updatetime','hour'], axis = 1)
new_df.head(5)

,dev_id,name,date,total,left,left_avg,year,month,dayofweek,day,location
0,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,27.0,14.0,1.0,2019.0,Jan,Thursday,3.0,"-38.1474393,144.3576924"
1,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,33.0,13.0,1.0,2019.0,Jan,Thursday,3.0,"-38.1474393,144.3576924"
2,hawk-013a51,Myer South side,2019-01-03T10:03:20+05:30,72.0,23.0,1.0,2019.0,Jan,Thursday,3.0,"-38.14762,144.3622749"
3,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,16.0,14.0,1.0,2019.0,Jan,Thursday,3.0,"-38.1469395,144.3599357"
4,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,19.0,10.0,3.0,2019.0,Jan,Thursday,3.0,"-38.1469395,144.3599357"

In [8]:
# checking wheather the columns are matching for both dataframes

print("Updated attributes of cleaned_wifi_data dataset")
for col in new_df.columns:
    print(col)
    
print("\n Updated attributes of regularupdated_cleaned_wifi_data dataset")
for col in new_df1.columns:
    print(col)

Updated attributes of cleaned_wifi_data dataset
dev_id
name
date
total
left
left_avg
year
month
dayofweek
day
location

 Updated attributes of regularupdated_cleaned_wifi_data dataset
dev_id
name
date
dayofweek
total
left_avg
left
year
month
location
day

In [9]:
#checking the length of the Cleaned Wifi datasets
print(len(new_df))
print(len(new_df1))

882329
176890

### Merging operation of both cleaned datsets

In [10]:
append_df = new_df.append(new_df1, ignore_index = True)
append_df

,dev_id,name,date,total,left,left_avg,year,month,dayofweek,day,location
0,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,27.000000,14.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.1474393,144.3576924"
1,hawk-013a4f,City Hall,2019-01-03T10:03:20+05:30,33.000000,13.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.1474393,144.3576924"
2,hawk-013a51,Myer South side,2019-01-03T10:03:20+05:30,72.000000,23.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.14762,144.3622749"
3,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,16.000000,14.000000,1.000000,2019.0,Jan,Thursday,3.0,"-38.1469395,144.3599357"
4,hawk-013a23,LaPorcheta,2019-01-03T10:03:20+05:30,19.000000,10.000000,3.000000,2019.0,Jan,Thursday,3.0,"-38.1469395,144.3599357"
...,...,...,...,...,...,...,...,...,...,...,...
1059214,014de9,"High Street , Belmont wifi/cctv cabinet",2021-12-07T11:30:00+05:30,202.000000,494.000000,13.872920,2021.0,Dec,Tuesday,7.0,"-38.1746141,144.3430678"
1059215,hawk-013a33,Ryrie/Moorabool Outside,2021-12-07T11:30:00+05:30,33.000000,45.000000,9.166667,2021.0,Dec,Tuesday,7.0,"-38.1489155,144.3584489"
1059216,meraki-e0-cb-bc-35-ae-29,Lt Malop West,2021-12-07T11:30:00+05:30,31.190542,67.596568,6.163429,2021.0,Dec,Tuesday,7.0,"-38.147929,144.358854"
1059217,meraki-e0-cb-bc-35-bb-14,Waterfront - Pier,2021-12-07T11:30:00+05:30,31.190542,67.596568,6.163429,2021.0,Dec,Tuesday,7.0,"-38.143364,144.361926"
1059218,meraki-e0-cb-bc-35-be-84,Lt Malop Central,2021-12-07T11:30:00+05:30,31.190542,67.596568,6.163429,2021.0,Dec,Tuesday,7.0,"-38.148573,144.361279"

In [11]:
# checking for null values 

null_val = pd.DataFrame({'Null Values' : append_df.isna().sum(), 'Percentage Null Values' : (append_df.isna().sum()) / len(append_df) * (100)})
null_val

           Null Values  Percentage Null Values
dev_id               0                     0.0
name                 0                     0.0
date                 0                     0.0
total                0                     0.0
left                 0                     0.0
left_avg             0                     0.0
year                 0                     0.0
month                0                     0.0
dayofweek            0                     0.0
day                  0                     0.0
location             0                     0.0

In [12]:
#Checking the info of our Merged dataset 
append_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059219 entries, 0 to 1059218
Data columns (total 11 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   dev_id     1059219 non-null  object
 1   name       1059219 non-null  object
 2   date       1059219 non-null  object
 3   total      1059219 non-null  float64
 4   left       1059219 non-null  float64
 5   left_avg   1059219 non-null  float64
 6   year       1059219 non-null  float64
 7   month      1059219 non-null  object
 8   dayofweek  1059219 non-null  object
 9   day        1059219 non-null  float64
 10  location   1059219 non-null  object
dtypes: float64(5), object(6)
memory usage: 88.9+ MB

## Saving the cleaned dataset to a CSV file

In [13]:
#Saving the Cleaned wifi_data to a CSV file
append_df.to_csv('D:/Deakin University (Applied AI (Professional)/SIT764- Team Project (A)/Datasets & Notebooks/Updated Dataset/Merged_cleaned_wifi_data.csv')
print('Merged cleaned Wi-Fi dataset has been saved sccessfully')

Merged cleaned Wi-Fi dataset has been saved sccessfully